i.modal-close {
  background: #fff;
  padding: 1px 8px 2px;
  font-weight: bold;
  font-size: 1.2em;
  position: absolute;
  right: 0;
  border-radius: 40px;
  background: rgba(2,146,186,0.5);
  color: #73e1ff;
}
.modal-overlay {
  background: rgba(0,0,0,0.8);
  position: relative;
}
.modal-container {
  left: 50%;
  margin: 0 0 0 -40%;
  position: absolute;
  width: 80%;
/* vertical top from js */
  border-radius: 2px;
  box-shadow: 0 3px 7px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.25);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
